<div align="center">
    <button mat-icon-button matTooltip="WW/WC" matTooltipPosition="below">
        <mat-icon>wb_sunny</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Invert" matTooltipPosition="below">
        <mat-icon>invert_colors</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Zoom" matTooltipPosition="below">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Pan" matTooltipPosition="below">
        <mat-icon>zoom_out_map</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Stack Scroll" matTooltipPosition="below">
        <mat-icon>reorder</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Length Measurement" matTooltipPosition="below">
        <mat-icon>import_export</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Angle Measurement" matTooltipPosition="below">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Picel Probe" matTooltipPosition="below">
        <mat-icon>radio_button_checked</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Elliptical ROI" matTooltipPosition="below">
        <mat-icon>radio_button_unchecked</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Rectangle ROI" matTooltipPosition="below">
        <mat-icon>check_box_outline_blank</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Play Clip" matTooltipPosition="below">
        <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Stop Clip" matTooltipPosition="below">
        <mat-icon>stop</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Layout" matTooltipPosition="below">
        <mat-icon>grid_on</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Clear" matTooltipPosition="below">
        <mat-icon>clear</mat-icon>
    </button>
</div>