<div id="loader"></div>
<div id="content" style="height: 100%; width:100%;">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="header">        
        <!-- <mat-form-field> -->
            <mat-select [(value)]="studySelected">
                <mat-option *ngFor="let study of studies" [value]="study.StudyInstanceUID">
                    {{study.patientName}} - {{study.studyDescription}}
                </mat-option>
            </mat-select>
        <!-- </mat-form-field> -->
    </mat-toolbar>
    <app-viewer></app-viewer>
</div>